/*
  Here you can customize app styles for stylus framework in a global way
*/
@import './app'
.q-table
  & th
    background-color : $tertiary-l-96
    font-size        : $rem-font-size2
    font-weight      : bold
    color            : $primary
    height           : 40px
  & tbody
    & td
      font-size   : $rem-font-size2 !important
      color       : $primary-l-21
      height      : 40px
      padding     : 5px 20px
      white-space : inherit
  & tr
    &:nth-of-type(2n)
      background-color: $tertiary-l-96
.cv-orderable
  font-weight :bold
  font-size   :$rem-font-size3
  cursor      :pointer
.action-label
  text-align:left !important
.simple-filters-container,.action-container
  & .q-field-icon
    width        : 16px
    height       : 16px
    min-width    : 16px
    font-size    : $rem-font-size3
    margin-right : 5px
    color        : $tertiary
    margin-top   : 16px
  & .q-field-bottom
    font-size   : $rem-font-size1
    padding-top : 0
    text-align  : right
.q-input-target
  height  : 21px !important
  outline : 0
  color   : $secondary
.q-if-focused .q-if-label .q-if-addon .q-if-focused .q-if-control
  color:$tertiary
.q-layout-header
  background-color:$primary
.informative-data
  & table
    color:#CCCCCC
.cv-info-table
  & th
    background-color : $quaternary-l-96
    font-size        : $rem-font-size2
    font-weight      : bold
    color            : $primary
    height           : 40px
  & tbody
    & td
      padding-left : 10px
      font-size    : $rem-font-size2 !important
      color        : $primary
      height       : 40px
      padding      : 5px 20px
  & tr
    &:nth-of-type(2n+1)
      background-color: $quaternary-l-96
.cv-grid-container
  & .limit-label
    // hide text if it more than N lines
    overflow      :hidden
    text-overflow :ellipsis
  & .q-item-label
    word-break: break-all
  .q-list.round-borders
    border-radius: 4px !important
.custom-q-btn-dropdown
  padding-left: 4px
.q-if-hide-underline
  border-bottom: 1px solid $quaternary-l-96
//custom quasar stepper
.q-stepper-dot
  width  :50px
  height :50px
  & i
    font-weight:bold
  & span
    & span
      font-weight:bold
.q-field-no-input .q-field-margin
    margin-top: 23px
.q-item-side
  color: $primary
.cv-grid-container .simple-filters-container .q-if-standard.q-if-has-label
    padding-top: 8px
  & .q-card
    & .q-item-side
      color: $primary
      font-weight:bold
    & .q-item-main
      & .q-item-label
        color: $primary
.q-layout-drawer-delimiter
  box-shadow:none
.q-layout-footer
  box-shadow $primary -5px -15px 20px -25px
.q-item.active, .q-item.router-link-active, .q-item:focus
  background-color:$tertiary-l-87
.q-layout-header
  & .q-toolbar
    background-image:none !important
.q-layout-footer
  & .q-toolbar-title
    display:inline
  & ul
    margin-right: 25px
    display:block
    float: right
    line-height: 21px
    list-style-image: none
    list-style-position: outside
    list-style-type: none
    margin:0
    padding:0
    text-align: right
    width: 45px
  & .copy-label
    box-sizing: border-box
    line-height: 18.9px
.q-drawer-container
  font-weight:400
.q-collapsible-sub-item .relative-position
  cursor:pointer !important
  &:hover
    background-color:$tertiary-l-84
.q-field-error
  font-size:$font-size4
