// app global css

//Dinamic disable/enable modules variables
$default-theme             := 'app-quasar'
$cell-sizes-module         := 'enabled'
$box-sizes-module          := 'enabled'
$border-sizes-module       := 'enabled'
$padding-sizes-module      := 'enabled'
$margin-sizes-module       := 'enabled'
$font-sizes-module         := 'enabled'
$colors-module             := 'enabled'
$col-sizes-module          := 'enabled'
$alings-module             := 'enabled'
$sumatory-module           := 'enabled'
$color-module              := 'enabled'
$color-txt-module          := 'enabled'
$color-bg-module           := 'enabled'
$color-box-module          := 'enabled'
$color-dark-box-module     := 'enabled'
$color-border-module       := 'enabled'
$responsive-margin-module  := 'enabled'
$responsive-padding-module := 'enabled'
//Other variables
$font-size1                := 6px
$font-size2                := 8px
$font-size3                := 10px
$font-size4                := 12px
$font-size5                := 14px
$font-size6                := 16px
$font-size7                := 18px
$font-size8                := 20px
$font-size9                := 24px
$font-size10               := 30px
$em-font-size1             := 0.62em
$em-font-size2             := 0.87em
$em-font-size3             := 1em
$em-font-size4             := 1.25em
$em-font-size5             := 2em
$em-font-size6             := 2.25em
$em-font-size7             := 3em
$em-font-size8             := 4em
$em-font-size9             := 5em
$em-font-size10            := 7.5em
$rem-font-size1            := 0.62rem
$rem-font-size2            := 0.87rem
$rem-font-size3            := 1rem
$rem-font-size4            := 1.25rem
$rem-font-size5            := 2rem
$rem-font-size6            := 2.25rem
$rem-font-size7            := 3rem
$rem-font-size8            := 4rem
$rem-font-size9            := 5rem
$rem-font-size10           := 7.5rem

$sidePadingSize1           := 13px
$maxWidthContainer         := '1200px'
$sizeIteratorStart         := 0
$sizeIteratorEnd           := 200
$colors                    := 'neutral' 'positive' 'negative' 'info' 'warning' 'primary' 'secondary' 'tertiary' 'quaternary' 'white' 'lightblue' 'darkblue' 'black' 'grey' 'firebrick'
$color-variation-count     := 4
$lightness2                := 65%
$lightness3                := 80%

$lightness-start           := 0
$lightness-end             := 33

$neutral                   := #FFFFFF
$positive                  := #4DB3A2
$negative                  := #E35B5A
$info                      := #36A3F7
$warning                   := #C49F47
$primary                   := #2B3643
$secondary                 := #364150
$tertiary                  := #CBA500
$quaternary                := #3598DC
$white                     := #ffffff
$lightblue                 := #1ccedf
$darkblue                  := #3B69A0
$black                     := #000000
$grey                      := #CCCCCC
$firebrick                 := #b22222
$test                      := #b22222

$xsValue                   := 4px
$smValue                   := 8px
$mdValue                   := 12px
$lgValue                   := 15px
$xlValue                   := 20px

$sumatoryBorderColor       := #CCCCCC
$sumatoryResumeBorderColor := #BCBCBC
$sumatoryBorderStyle       := solid
$sumatorySize              := 1px

$sides-list                := 'a' 'x' 'y' 't' 'r' 'b' 'l'
$sides-modes               := (''),('right' 'left'),('top' 'bottom'),('top'),('right'),('bottom'),('left')
$col-sizes                 := 'xs' 'sm' 'md' 'lg' 'xl'

coloring($dinamic-color='$neutral')
  if lookup($dinamic-color) == null
    return $neutral
  return lookup(''+$dinamic-color)
sizing($dinamic-size='1rem')
  if lookup($dinamic-size) == null
    return '1rem'
  return lookup(''+$dinamic-size)

