

body
  color:$black-l-30
  /*
  &.screen--xs
    .main-component
      top:40px
      bottom:0
  &.screen--sm
    .main-component
      top:40px
      bottom:0
  &.screen--md

  &.screen--lg

  &.screen--xl

.main-component
  position:absolute
  width:-moz-available
  width: -webkit-fill-available
  top:120px
  bottom:15px
  &.has-bottom-buttons
    bottom:70px
  */

a
  text-decoration  : none
  background-color : transparent
  cursor           : pointer

.c
  &-pointer
    cursor:pointer !important
.o
  &-auto
    overflow: auto !important

.in-progress-cursor
  cursor: progress !important
  &:disabled
    cursor: progress !important
/*
body
  display     : flex
  margin      : 0
  padding     : 0
  font-weight : 350
  font-family : 'Roboto', sans-serif
  & #q-app
    display : flex
    width   : 100%
    height  : 100%
*/
.active-icon
  font-size : 20px
  cursor    : pointer !important

.in-progress-cursor
  cursor: progress !important
  &:disabled
    cursor: progress !important

.cv-field-container
  padding-left  : 5px
  padding-right : 5px

.simple-filters-container
  display:inline-block
  & label
    display       : inline-block
    margin-bottom : 5px
    font-weight   : 700

.form-control
    -moz-appearance    : textfield
    -moz-user-select   : text
    -webkit-box-shadow : inset 0 1px 1px $black
    background-color   : $white
    background-image   : none
    border             : 1px solid #ccc
    border-radius      : 4px
    box-shadow         : inset 0 1px 1px $black
    color              : $black
    cursor             : text
    display            : inline-block
    font               : -moz-field
    font-size          : $rem-font-size2
    height             : 34px
    letter-spacing     : normal
    line-height        : 1.42857143
    overflow-clip-box  : padding-box content-box
    padding            : 6px 6px
    text-align         : start
    text-indent        : 0
    text-rendering     : optimizeLegibility
    text-shadow        : none
    text-transform     : none
    word-spacing       : normal
    margin:5px 10px 5px 0
    &:focus
      border-color       : $quaternary
      outline            : 0
      -webkit-box-shadow : inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
      box-shadow         : inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
  select.form-control
    -moz-appearance    : menulist
  .btn
    display             : inline-block
    margin-bottom       : 0
    font-weight         : 400
    text-align          : center
    vertical-align      : middle
    -ms-touch-action    : manipulation
    touch-action        : manipulation
    cursor              : pointer
    background-image    : none
    white-space         : nowrap
    padding             : 3px 9px
    font-size           : $rem-font-size2
    line-height         : 1.6
    border-radius       : 4px
    -webkit-user-select : none
    -moz-user-select    : none
    -ms-user-select     : none
    user-select         : none
    &.active
      background-color : $tertiary !important
      color            : $white
      &:hover
        color:$white
    &:hover
      background-color : $secondary-l-39 !important
      color            : $white

.btn-default
    color            : $secondary
    background-color : $white
    border           : none !important
    height           : 2rem
    min-width        : 2rem
    padding          : 0.5rem
    border-radius    : 50% !important
    align-items      : center
    text-align       : center
    vertical-align   : middle
    font-size        : 1rem
    line-height      : 1rem
    font-weight      : 400

.matcherizer-item
  text-decoration: underline

.custom-action-container .action-content
  padding:0
  & .block-container
    width   : 100%
    padding : 40px 20px 0 20px
  & .block-input
    width         : 100%
    margin-top    : 25px
    margin-bottom : 25px

.cv-matcherizer-container
  & .list-items
    & .single-selected
      background-color:$primary-l-96
      &-label
        display:inline-block
        padding:8px
        border:1px solid $grey
        border-radius:5px
        color: $white
        background-color: $primary-l-84
        font-weight: bold
        & i
          cursor:pointer

  & ul
    z-index: 1000
    position: absolute
    margin-block-start: 0
    margin-block-end: 0
    padding-inline-start: 0
    overflow:auto
    max-height:200px
    border: 1px solid $grey
    & .list-group
      margin-bottom: 20px
      padding-left: 0
      &-item
        cursor:pointer
        position: relative
        display: block
        padding: 6px 15px
        margin-bottom: -1px
        background-color: $white
        & i
          margin-left:5px
          margin-right:5px
          font-weight: bold
          cursor:pointer
        &:hover
          background-color: $primary-l-96
        &.current-cursor-item
          background-color: $grey
        &.more-data-message
          cursor:default
          font-size: 11px
          vertical-align: middle
          padding: 2px 15px
          &:hover
            background-color: $white

.q-table
  & th
    background-color : $tertiary-l-96
    font-size        : $rem-font-size2
    font-weight      : bold
    color            : $primary
    height           : 40px
  & tbody
    & td
      font-size   : $rem-font-size2 !important
      height      : 40px
      padding     : 5px 20px
      white-space : inherit
  & tr
    &:nth-of-type(2n)
      background-color: $tertiary-l-96

.cv-orderable
  font-weight :bold
  font-size   :$rem-font-size3
  cursor      :pointer

.action-label
  text-align:left !important

.simple-filters-container,.action-container
  & .q-field-icon
    width        : 16px
    height       : 16px
    min-width    : 16px
    font-size    : $rem-font-size3
    margin-right : 5px
    margin-top   : 16px
    color        : $black-l-54
  & .q-field-bottom
    font-size   : $rem-font-size1
    padding-top : 0
    text-align  : right

.q-input-target
  height  : 21px !important
  outline : 0
  //color   : $secondary //input color

.q-if-focused .q-if-label .q-if-addon .q-if-focused .q-if-control
  color:$tertiary

.b-none
  border:none !important

.shadow-none
  box-shadow: none
/*transition css*/

.component-fade-enter-active
  transition: opacity .6s ease

.component-fade-leave-active
  transition: opacity .3s ease

.component-fade-enter, .component-fade-leave-to
  opacity: 0

.component-fade-slow-enter-active
  transition: opacity .4s ease

.component-fade-slow-leave-active
  transition: opacity .2s ease

.component-fade-slow-enter, .component-fade-leave-to
  opacity: 0

.bounce-enter-active
  animation: bounce-in .8s

@keyframes bounce-in
  0%
    transform: scale(0)
  50%
    transform: scale(1.2)
  100%
    transform: scale(1)

.slide-fade-enter-active
  transition: all .3s ease

.slide-fade-leave-active
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.slide-fade-enter, .slide-fade-leave-to
  transform : translateX(40px)
  opacity   : 0

//cv grid styles
.cv-grid-container
  width:100%
  & .cv-
    &orderable
      cursor:pointer
  & hr
    display:none
  .b-top
    border-top:1px solid $grey
  .b-bottom
    border-bottom:1px solid $grey
  .cv-grid-data-container
    overflow-x: auto
    overflow-y: hidden
  & .limit-label
    // hide text if it more than N lines
    overflow      :hidden
    text-overflow :ellipsis
  & .q-item-label
    word-break: break-all
  .q-list.round-borders
    border-radius: 4px !important
  &-data-container
    margin: 10px

.custom-q-btn-dropdown
  padding-left: 4px

.q-if-hide-underline
  border-bottom: 1px solid $quaternary-l-96

//custom quasar stepper
.q-stepper-dot
  width  :50px
  height :50px
  & i
    font-weight:bold
  & span
    & span
      font-weight:bold

.q-field-no-input .q-field-margin
    margin-top: 23px

.q-item-side
  color: $primary

.cv-grid-container .simple-filters-container .q-if-standard.q-if-has-label
    padding-top: 8px
  & .q-card
    & .q-item-side
      font-weight:bold
    & .q-item-main
      & .q-item-label
        color: $primary

.q-layout-drawer-delimiter
  box-shadow:none

.q-layout-footer
  box-shadow $primary -5px -15px 20px -25px
  & .q-toolbar-title
    display:inline
  & ul
    margin-right: 25px
    display:block
    float: right
    line-height: 21px
    list-style-image: none
    list-style-position: outside
    list-style-type: none
    margin:0
    padding:0
    text-align: right
    width: 45px
  & .copy-label
    box-sizing: border-box
    line-height: 18.9px

.q-drawer-container
  font-weight:400

.q-item.active, .q-item.router-link-active, .q-item:focus
  background-color:$tertiary-l-87

.q-layout-header
  & .q-toolbar
    background-image:none !important

.q-collapsible-sub-item .relative-position
  cursor:pointer !important
  &:hover
    background-color:$tertiary-l-84

.q-field-error
  font-size:$font-size4
//cv paginate styles

.cv-paginate
  padding-top:5px
  & p
    padding-top:5px
  & button
    cursor:pointer
    border: 1px outset ThreeDLightShadow
    border-radius:5px
    &.active
      -webkit-transition: background-color 1.5s /* For Safari 3.1 to 6.0 */
      transition: background-color 1.5s
      background-color: $grey
      color:$white
      &:hover
        color:$white
    &:hover
      color:$white
  p
    margin:0
  .q-field
    display:inline-flex
    &.q-input
      padding-top:0
      padding-bottom:0
  .q-btn
    webkit-box-shadow: none
    box-shadow: none
  .q-select-custom
    padding-top: 0
    padding-bottom: 0
    margin:0

//cv simple filter styles
.simple-filters-input
  margin-left: 10px

//cv spinner styles
.cv-spinner
  position : absolute
  z-index  : 2000
  & .animation-img
    max-height:100px
    min-height:20px
    height:100%
  .animation-container
    vertical-align   : middle
    text-align       : center

//cv spinner styles
.cv-relator-container
  border-bottom : 1px solid $grey
  margin-top:20px
  & ul
    border:1px solid $grey
    background-color:$grey-l-96
    min-height: 200px
    max-height: 350px
    overflow-y: auto
    //border-radius: 5px
    padding-inline-start: 0
    list-style-type  : none
    & .list-group
      margin-bottom: 20px
      padding-left: 0
      &-item
        position: relative
        display: block
        padding: 10px 20px
        margin-bottom: -1px
        background-color: $white
        border: 1px solid $grey-l-60
        &:first-child
          border-top-right-radius: 4px
          border-top-left-radius: 4px
        &:last-child
          border-bottom-right-radius: 4px
          border-bottom-left-radius: 4px
    & i
        margin-left  : 5px
        margin-right : 5px
        font-weight  : bold
        cursor       : pointer
  & .related-items
    & i:hover
      color:$negative-l-36
  & .source-items
    padding: 15px
    & i:hover
      color:$positive-l-36
//cv action container styles

.action-container
  .action-label
    width: 100%
    text-align:center
    & label
      font-weight: bold
    & hr
      border: 0
      border-top: 1px solid $grey

.informative-data
  & table
    color:$grey

.cv-info-table
  & th
    background-color : $quaternary-l-96
    font-size        : $rem-font-size2
    font-weight      : bold
    color            : $primary
    height           : 40px
  & tbody
    & td
      padding-left : 10px
      font-size    : $rem-font-size2 !important
      height       : 40px
      padding      : 5px 20px
  & tr
    &:nth-of-type(2n+1)
      background-color: $quaternary-l-96

.cv-adaptative-grid-index, .cv-flex-grid-index, .cv-table-grid-index, .cv-index
  .q-btn
    height : 2rem
    width  : 2rem
  .filter-selector-container
    .q-btn
      width  : auto
  .in-progress-cursor
    cursor: progress !important
    &:disabled
      cursor: progress !important
  tr
    border-bottom: 1px solid $grey
  .h5
    margin: 0 0 !important
  .border-all
    border:1px solid $grey
  .q-btn-round
    margin:1px

.t-ov-ellipsis
  text-overflow: ellipsis
  overflow: hidden

.t-ov-wrap
  overflow-wrap:anywhere

.d-none
  display:none

.of-auto
  overflow: auto

.of-x-auto
  overflow-x: auto

.of-y-auto
  overflow-y: auto

.of-y-hidden
  overflow-y: hidden !important

.filter-selector-container
  .q-btn
    height:auto !important

.d-inline-block
  display:inline-block

.ellipsis
  white-space: normal

.drop-here
  opacity:20%

.text-capitalize
  text-transform: capitalize

/* Embed Responsive */

.embed-responsive
	position: relative
	display: block
	height: 0
	padding: 0
	overflow: hidden

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video
	position: absolute
	top: 0
	bottom: 0
	left: 0
	width: 100%
	height: 100%
	border: 0

.embed-responsive-16by9
	padding-bottom: 56.25%

.embed-responsive-4by3
	padding-bottom: 75%

.cv-inline
  display inline

.cv-inline-block
  display inline-block
